
{%extends 'base.html'%}
{% block content %}
<h1>Projects Rating</h1>
<a class="btn btn-primary" href="{% url 'create' %}">New Post</a>
<br>
<br>

{% for post in posts.all %}
{% if user.is_authenticated %}

        <div class= container>
            <div class="row">
                <div class="col-md-4">

                        <h3>{{ post.title }}</h3>
                        {% if post.image %}
                        <img src="{{ post.image.url }}" >
                        {% endif %}
                        <br><br>

                        <button type="button" "btn btn-light"><a href="{{ post.url }}">Github Repo Link</a></button>
                        <button type="button" class="btn btn-danger"><a href="{{ post.live }}">Github Live Link</a></button>    
                       

                        <a href="/">{{ post.author.username }}</a>
                        <p>{{ post.publication_date }}</p>
                    
                </div>
            </div>
        </div>
        
       


{% endif %}
<a class="dropdown-item text-center" href="{% url 'profile' user.username %}">Profile</a>
{% endfor %}
{% endblock %}