{%load bootstrap3%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%if title %}
    <title>Projects Pitch {{title}}</title>
    {%else %}
    <title>Projects Pitch</title>
    {%endif%}

    {%block style %}
        {%bootstrap_css%}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {%endblock %}

</head>
<body>
    {%block content%}

    {%endblock%}

    {%block script%}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {%bootstrap_javascript%}

    {%endblock%}
</body>
</html>